@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  hr {
    display: block;
    height: 30px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 63px;
  }

  #big-blog-hr {
    display: block;
    height: 30px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 70px;
  }

  .right-ads{
    margin-left: 68px;
  }
  .inner-right-ads{
    width: 113%;
    margin-left: -21%;
    padding-bottom: 4%;

  }
  .stance-merch{
  width: 100%;
  padding-left: 3px;
  padding-top: 8%;
  }
  .inner-right-images{
    padding-bottom: 8%;
  }
.inner-right-img{
  margin-left: 11px;
    width: 93%;
    padding-bottom: 30px;
  &:hover{
    opacity: .5;
    cursor: pointer;
  }
}
h1.bold-move{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 32%;
  margin-top: -32%;
  color:white;
}
p.bold-move-date{
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 2px;
  margin-left: 30%;
  margin-top: -2%;
  color:white;

}
h1.couple{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 32%;
  margin-top: -32%;
  color:white;
}
p.couple-date{
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 2px;
  margin-left: 30%;
  margin-top: -2%;
  color:white;

}
h1.fd-thoughts{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 17%;
  margin-top: -32%;
  color:white;
}
p.fd-thoughts-date{
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 2px;
  margin-left: 34%;
  margin-top: -2%;
  color:white;

}
h1.different{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 13%;
  margin-top: -32%;
  color:white;
}
p.different-date{
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 2px;
  margin-left: 30%;
  margin-top: -2%;
  color:white;

}
h1.e46-love{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 32%;
  margin-top: -32%;
  color:white;
}
p.e46-love-date{
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 2px;
  margin-left: 30%;
  margin-top: -2%;
  color:white;

}
.header-inner-partners{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: -1%;
  padding-top: 8%;
  padding-left: 24%;
  text-transform: uppercase;
}
  .header-inner-right {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: -1%;
    padding-top: 8%;
    padding-left: 19%;
    text-transform: uppercase;
  }

  .main-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 60%;
    margin-left: 3%;
    margin-top: 4%;
    padding-bottom: 6%;
  }

  .header-line {
    background: black;
    width: 39%;
    height: 7px;
    margin-left: 64%;
    margin-top: 6.5%;
  }

  .blogs {
    margin-top: -2%;
  }

  .blog-text {
    margin-left: 49%;
    margin-top: -31%;
  }

  .blog-img {
    width: 41%;
    margin-left: 3%;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }
  }

  .blog-paragraph-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14.3px;
    line-height: 27.54px;
    text-align: start;
    letter-spacing: normal;
  }

  .blog-header {
    padding-top: 10%;
    margin-right: -32%;
  }

  .blog-date-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #777777;
  }

  .blog-paragraph {
    width: 105%;
    padding-left: 0;
  }

  .big-blog {
    margin-left: 2%;
  }

  .blog-header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2px;
  }

  .big-blog-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
    padding-top: 3%;
  }

  .big-blog-date {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #777777;
    padding-top: 1%;
  }

  .big-blog-paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 27.54px;
    text-align: start;
    letter-spacing: normal;
    padding-top: 2%;
  }

  .blogs2 {
    margin-top: 2%;
  }
}
